@bgc: #f8a999;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: bold 25px "Courier";
}

#logo {
  width: fit-content;
  margin: 20px auto 0;
  font-size: 35px;
}

#main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: @bgc;
  margin: 15px auto;
  border: 16px solid #000;
  border-radius: 50%;

  #hint {
    display: none;
    position: absolute;
    top: 160px;
    font-size: 25px;
    color: coral;
  }

  #start {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 180px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    font-size: 22px;
    background-color: rgba(0, 0, 0, .6);
    color: #eee;
    border: 1px solid #eee;
    border-radius: 8px;
    cursor: pointer;
    z-index: 99;

    &:hover {
      background-color: rgba(0, 0, 0, .8);
      color: #b7d4a8;
      border: 1px solid #000;
    }
  }

  #stage {
    position: relative;
    width: 304px;
    height: 304px;
    border: 2px solid #000;
    margin-bottom: 20px;

    .fn() {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #000;
      border: 1px solid @bgc;
    }

    #snake {
      &>div {
        .fn;
      }
    }

    #food {
      .fn;
      left: 40px;
      top: 100px;
      border-radius: 50%;
    }
  }

  #score-panel {
    display: flex;
    justify-content: space-around;
    width: 360px;
  }
}